<p>
  Here are the options available to you:
</p>
<p>
  <ul>
    <% if can? :read, Student %>
    <li><%= link_to "View your current courses and grades", student_path(@current_user.identifiable_id) %>
    </li>
    <% end %>
    <% if can? :read, Course %>
    <li>
      <%= link_to "View full list of courses offered this term", courses_path %>
    </li>
    <% end %>
  </ul>
</p>
