<h1>Courses @Hogwarts</h1>

<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Course</th>
      <th scope="col" class="text-center">Enrollment Count</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.sort_by { |c| -c.students.count }.map do |c| %>
    <tr>
      <td scope="row"><%= link_to c.course_title, course_path(c.id) %></td>
      <td class="text-center"><%= c.students.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
